.carte_activites{
    display: flex;
    gap: 16px;
    height: 520px;
    margin-bottom: 53px;
    flex-flow: column wrap;
}

/* IMAGES BIG */
.big{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    transition: all 130ms ease;
    height: 96%;
    width: 23%;
}

.big:hover{
    transform: scale(1.03);
    box-shadow: 3px 5px 11px -5px #000000;
}

.big img{
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    width: 100%;
    height: 90%;
}

/* IMAGES MEDIUM */
.medium{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    transition: all 130ms ease;
    height: 288px;
    width: 25%;
}

.medium:hover{
    transform: scale(1.03);
    box-shadow: 3px 5px 11px -5px #000000;
}

.medium img{
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    max-height: 80%;
    width: 100%;
}


/* IMAGES SMALL */
.small{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    transition: all 130ms ease;
    height: 180px;
    width: 25%;
    padding-bottom: 16px;
}

.small:hover{
    transform: scale(1.03);
    box-shadow: 3px 5px 11px -5px #000000;
}

.small img{
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}


/* HEADING */
.activites_titre{
    padding-left: 12px;
    font-size: 16px;
    font-weight: 800;
}