/* LOGO */
#logo {
    margin-right: auto;
    padding: 0 32px;
}

#logo img{
    width: 60%;
}

/* DOT ICON */
.fa-solid.fa-location-dot{
    background-color: #F2F2F2;
    border-radius: 16px 0 0 16px;
    padding: 16px;
}

/* LOUPE ICON */
.fa-solid.fa-magnifying-glass{
    display: inline;
    color: transparent;
    padding: 16px 19.2px;
}

/* INFO ICON */
.i_info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    flex: 0 0 23px;
    height: 23px;
    padding: 2px;
    border: 1px solid #bbbaba;
    border-radius: 50px 50px 50px 50px;
}

/* FILTRES ICON */
.filtres_liste .fa-solid{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 48px;
    height: 48px;
    border-radius: 50px 50px 50px 50px;
    margin: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ETOILES */
.etoiles_bleu{
    color: #0065FC;
    font-size: 12px;
    margin-right: -3px;
}

.etoiles_grise{
    color: #bbbaba;
    font-size: 12px;
    margin-right: -3px;
}